@using IRCTCClone.Models
@model IRCTCClone.Models.Booking

@{
    ViewData["Title"] = "Booking History";
}

<h2>Booking Details</h2>

<div class="booking-card">
    <div class="booking-info">
        <p><strong>PNR:</strong> @Model.PNR</p>
        <p><strong>Train:</strong> @Model.TrainNumber - @Model.TrainName</p>
        <p><strong>Class:</strong> @Model.ClassCode</p>
@*      <p><strong>Berth:</strong> </p> *@
        <p><strong>Journey Date:</strong> @Model.JourneyDate.ToString("dd-MM-yyyy")</p>
        <p><strong>Quota :</strong> @Model.Quota</p> 
        <p><strong>From:</strong> @Model.Frmst</p>
        <p><strong>To:</strong> @Model.Tost</p>
        <p><strong>Amount:</strong> ₹@Model.BaseFare</p>
        @{
            string ModelStatus = @Model.Status switch
            {
                "CONFIRMED" or "CNF" => "booking-CNF",
                "RAC" => "booking-RAC",
                "WL" => "booking-WL",
                _ => "booking-Default"

            };
        }
        <p><strong>Status:</strong> <span class="@ModelStatus">@Model.Status</span></p>
    </div>
</div>

<h3>Passengers</h3>

<table class="passengers-table">
    <thead>
        <tr>
            <th class="hide-column"> ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Coach</th>
            <th>Seat</th>
            <th>Berth</th>
            <th>From</th>
            <th>To</th>
            <th>Current Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var p in Model.Passengers)
        {
            string coach = (p.BookingStatus == "CNF" && !string.IsNullOrEmpty(p.SeatPrefix))
            ? p.SeatPrefix
            : "--";

            string seat = (p.BookingStatus == "CNF" && !string.IsNullOrEmpty(p.SeatNumber))
            ? new string(p.SeatNumber.SkipWhile(c => !char.IsDigit(c)).ToArray())
            : "--";

            <tr >
                <td class=" hide-column">@p.Id</td>
                <td>@p.Name</td>
                <td>@p.Age</td>
                <td>@p.Gender</td>
                <td>@coach</td>
                <td>@seat</td>
                <td>@p.Berth</td>
                <td>@Model.Frmst</td>
                <td>@Model.Tost</td>
                @{
                    string BookingStatus = p.BookingStatus switch
                    {
                        "CONFIRMED" or "CNF" => "details-CNF",
                        "RAC" => "details-RAC",
                        "WL" => "details-WL",
                        _ => "details-Default"

                    };
                }
                <td class="@BookingStatus">
                    @p.BookingStatus
                    @if (p.Position.HasValue)
                    {
                        <text>(@p.Position)</text>
                    }
                </td>
                <td>
                    <button class="deleteBtnpassenger " data-id="@p.Id">Cancel</button>

                </td>
               

@*                 <td><button onclick="deletepassenger(@p.Id)"></button>Delete </td> *@
            </tr>
        }


    </tbody>
</table>






@section Scripts {

    <script>
           $(document).on("click", ".deleteBtnpassenger", function () {
        let id = $(this).data("id");

        if (!confirm("Are you sure you want to delete this passenger?"))
            return;

               $.ajax({
            url: '/Booking/DeletePassenger',
            type: 'POST',
            data: { id: id },
            success: function (res) {
                if (res.success) {
                    // Remove row visually
                    $("#passenger-row-" + id).fadeOut(300, function () { $(this).remove(); });

                    // Reload page after 1 second
                    setTimeout(() => {
                        location.reload();
                    }, 100);
                }
                else {
                    alert(res.message);
                }
            },
            error: function () {
                alert("Something went wrong!");
            }
        });

        
    });
    </script>
}