@using IRCTCClone.Models
@model IRCTCClone.Models.Booking

@{
    ViewData["Title"] = "Booking History";
}

<h2>Booking Details</h2>

<div class="booking-card">
    <div class="booking-info">
        <p><strong>PNR:</strong> @Model.PNR</p>
        <p><strong>Train:</strong> @Model.TrainNumber - @Model.TrainName</p>
        <p><strong>Class:</strong> @Model.ClassCode</p>
@*      <p><strong>Berth:</strong> </p> *@
        <p><strong>Journey Date:</strong> @Model.JourneyDate.ToString("dd-MM-yyyy")</p>
        <p><strong>Quota :</strong> @Model.Quota</p> 
        <p><strong>From:</strong> @Model.Frmst</p>
        <p><strong>To:</strong> @Model.Tost</p>
        <p><strong>Amount:</strong> ₹@Model.BaseFare</p>
        <p><strong>Status:</strong> <span class="@(Model.Status == "CONFIRMED" ? "status-confirmed" : "status-cancelled")">@Model.Status</span></p>
    </div>
</div>

<h3>Passengers</h3>

<table class="passengers-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Coach</th>
            <th>Seat</th>
            <th>Berth</th>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Passengers)
        {
           
    // Extract the alphabetic part (coach) and numeric part (seat)
                string coach = new string(p.SeatNumber.TakeWhile(c => !char.IsDigit(c)).ToArray());
                string seat = new string(p.SeatNumber.SkipWhile(c => !char.IsDigit(c)).ToArray());

            <tr>
                <td>@p.Name</td>
                <td>@p.Age</td>
                <td>@p.Gender</td>
                <td>@coach</td>
                <td>@seat</td>
                <td>@p.Berth</td>
                <td>@Model.Frmst</td>
                <td>@Model.Tost</td>
            </tr>
        }
    </tbody>
</table>
